<div  class="div_abs">
  <textarea cols="50" class="input_abs" disabled>{{this.text}}
  </textarea>

</div>
<article class="main-page to-left">

  <p>
    <button (click)="butt1()" class="login100-form-btn">
      Список комнат
    </button>
  </p>
  <p>
    <button (click)="butt2()" class="login100-form-btn">
      Комнаты и состав комнат
    </button>
  </p>
  <p>
    <button (click)="butt3()" class="login100-form-btn">
      Просмотреть комнату:
    </button>
    <input class="input100" name="roomid" placeholder="Название" [(ngModel)]="room.id"  >
  </p>
  <p>
    <button (click)="butt4()" class="login100-form-btn" disabled>
      Здесть могла бы быть ваша реклама!
    </button>
  </p>




</article>

