
  <!--todo prisoners interface -->
  <article class="main-page to-left">

    <p>
      <button (click)="but1()" class="login100-form-btn">
        Просмотреть рейтинг зеков
      </button>
    </p>
    <p>
      <button (click)="but2()" class="login100-form-btn" disabled>
        Войти за зека:
      </button>
      <input class="input100" type="number" name="orid" placeholder="id" [(ngModel)]="bla"  >
    </p>
    <p>
      <button (click)="but3()" class="login100-form-btn">
        Вкинуть новость:
      </button>
      <input class="input100" type="number" name="ord" placeholder="id" [(ngModel)]="bla"  >
    </p>
    <p>
      <button (click)="but5()" class="login100-form-btn" disabled>
        Здесь мог бы быть блок управления вашей фракцией, если бы вы были ее паханом
      </button>
    </p>

  </article>
