<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						Авторизация
					</span>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Пожалуйста, введите имя пользователья!">
          <input class="input100" type="text" name="username" placeholder="Логин">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Пожалуйста, введите пароль!">
          <input class="input100" type="password" name="pass" placeholder="Пароль">
          <span class="focus-input100"></span>
        </div>

        <div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							Забыли
						</span>

          <a href="#" class="txt2">
            Логин / Пароль??
          </a>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Ворваться
          </button>
        </div>

        <div class="flex-col-c p-t-170 p-b-40">
						<span class="txt1 p-b-9">
							Нет аккаунта?
						</span>

          <a href="#" class="txt3">
            Точно уверены, что он вам нужен?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<!--div class="form-group">
  <label>Имя</label>
  <input class="form-control" name="username" [(ngModel)]="augth.login" />
</div>
<div class="form-group">
  <label>Возраст</label>
  <input class="form-control" type="number" name="age" [(ngModel)]="augth.password" />
</div>
<div class="form-group">
  <button class="btn btn-default" (click)="submit(augth)">Отправить</button>
</div>
<div *ngIf="done">
  <div>Получено от сервера:</div>
  <div>Имя: {{receivedAugth.login}}</div>
  <div>Возраст: {{receivedAugth.password}}</div>
</div-->
