<header>

  <div class="container">

    <!-- logo -->
    <a href="http://yandex.ru" class="logo inline">
      <img src='http://mr.ifmo.ru/images/logo/itmo_horiz_white_rus.png' alt='Где, блин, картинка?'/>
      <h1 class='top'>
        <span>Курсовая работа по программированию интернет-приложений</span>
      </h1>
    </a>


    <!-- date -->

    <div class="date inline">
      27 Февраля 2019 идет <span>пятая</span> неделя долга			</div>

  </div>

  <nav>
    <div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%81%D1%81%D1%82%D1%80%D0%BE%D0%B9%D1%81%D1%82%D0%B2%D0%BE_%D0%B8%D0%BD%D1%82%D0%B5%D0%BB%D0%BB%D0%B5%D0%BA%D1%82%D0%B0">О нас</a></li>
      <li id="menu-item-160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160"><a href="http://vk.com">Контакты</a></li>
      <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://yandex.ru/news">Новости</a></li>
    </ul></div>		</nav>

</header>
<!-- main area -->

<main class='container clearfix'>


<!-- sidebar -->
<aside class='to-right'>

  <article class='inbox promo-fast'>

    <!-- promo -->
    <div class="promo clearfix">
      <div class="text inbox">
        <p class="inline date">27</p>
        <p class="inline over"> День допа<br/> по ПИПу!<br/><span>февраля</span></p>
      </div>
    </div>

    <div class="services">
      <a href="http://localhost:4200/login" class="inline" target='_blank'><i> </i>Регистрация и вход в систему</a>
      <a href="https://vk.com/doc-31201840_457957351" class="inline" target='_blank'><i></i>Написать ПСЖ</a>
      <a href="http://www.ifmo.ru/" class="inline" target='_blank'><i></i>Портал университета</a>
      <a href="http://isu.ifmo.ru/" class="inline" target='_blank'><i></i>ИСУ НИУ ИТМО</a>
    </div>

  </article>


  <section class='widget inbox map'>

    <h1>Наши контакты</h1>

    <!-- map -->
    <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJp2aTEEExlkYRbrG4sOfCSX0&key=..." width="100%" height="225" frameborder="0" style="border:0"></iframe>

    <!-- contacts -->
    <div class="services">
      <a href="#" class="inline"><i></i>С-Пб., Кронверкский пр., д. 49</a>
      <a href="#" class="inline"><i></i>vasazopkin1@gmail.com</a>
      <a href="#" class="inline"><i></i>8 (921) 428-34-33</a>
    </div>

  </section>

</aside>	</main><!-- main -->
