<article class="main-page to-left">
  <p>
    Hello, what's about some pipa?
  </p>
  <p>
    <button (click)="b1()" class="button7">
      Заказы
    </button>
    <button (click)="b2()" class="button8">
      Фракции
    </button>
    <button (click)="b3()" class="button7">
      Заключенные
    </button>
    <button (click)="b4()" class="button8">
      Юзвери
    </button>
    <button (click)="b5()" class="button7">
      Комнаты
    </button>
    <button (click)="b6()" class="button8">
      Сообщения
    </button>
    <button (click)="b7()" class="button7">
      Магазин
    </button>
    <button (click)="b8()" class="button8" disabled >
      Вещи
    </button>
    <button (click)="b9()" class="login100-form-btn" disabled>
      TEST
    </button>
  </p>

  <img border="5px" width="648px" src="../assets/prison1.jpg">
  <!---->
  <!--<div *ngIf="isOrders">-->
    <!--<app-news></app-news>-->
    <!--<p> AAAAAA </p>-->
  <!--</div>-->


  <!--<div *ngIf="isFaction">-->
    <!--<app-news></app-news>-->
    <!--<p> BBBBB </p>-->
  <!--</div>-->


  <!--<div *ngIf="isPrisoners">-->
    <!--<app-news></app-news>-->
    <!--<p> CCCCC </p>-->
  <!--</div>-->

  <div [ngSwitch]="but">
    <ng-template ngSwitchCase="Orders">
      <p> Orders: </p>
      <app-orders></app-orders>
    </ng-template>
    <ng-template ngSwitchCase="Factions">
      <p> Faction:  </p>
      <app-factions></app-factions>
    </ng-template>
    <ng-template ngSwitchCase="Prisoners">
      <p> Prisoners: </p>
      <app-prisoners></app-prisoners>
    </ng-template>
    <ng-template ngSwitchCase="Users">
      <p> Users:  </p>
      <app-users></app-users>
    </ng-template>
    <ng-template ngSwitchCase="Rooms">
      <p> Rooms: </p>
      <app-rooms></app-rooms>
    </ng-template>
    <ng-template ngSwitchCase="Mails">
      <p> Mails:  </p>
      <app-messages></app-messages>
    </ng-template>
    <ng-template ngSwitchCase="Shop">
      <p> Shop: </p>
      <app-shop></app-shop>
    </ng-template>
    <ng-template ngSwitchCase="Things">
      <p> Things:  </p>
      <app-things></app-things>
    </ng-template>
    <ng-template ngSwitchCase="TEST">
      <p> Dorou? Have u sm pipa? Hard thing! </p>
    </ng-template>
    <ng-template ngSwitchDefault>
      <p> You should choose smth!! </p>
    </ng-template>
  </div>

</article>
