<article class='main-page to-left'>





  <section class='news'>
    <h1>Раздел о нас</h1>

    <article id="post-1698" class="post-1698 post type-post status-publish format-standard hentry category--">
      <h1>Слабосильное слабоумие движется по планете!</h1>
      <div class="entry-content">
        <p><span style="font-weight: 600; color: #1c1c1c;">Сегодня, в этот чудный день вы видите прекрасный проект VZOPE, правда мы уже давно забыли, как эта аббривеатура расшифровывается, но
        подходит неплохо :с</span>
          <span style="font-weight: 600; color: #1c1c1c;"> Итак, мы сделяль </span></p>
        <p style="color: #1c1c1c;">Напоминаем, что мы находимся на связи и  продолжаем поддерживать этот проект и лечить Ваш взорванный мозг:</p>
        <p style="color: #1c1c1c;">_____________________</p>
        <p style="color: #1c1c1c;"><span style="font-weight: 600; font-style: inherit;">Департамент по управлению департаментом по связям с общественностью</span></p>
        <p style="color: #1c1c1c;">11111111</p>
        <p style="color: #1c1c1c;">vasazopkin1@gmail.com</p>
        <p style="color: #1c1c1c;">_____________________</p>
        <p style="color: #1c1c1c;"><span style="font-weight: 600; font-style: inherit;">Заблокировать сайт</span></p>
        <p style="color: #1c1c1c;">+7 (921) ***-**-**</p>
        <p style="color: #1c1c1c;"><a style="font-weight: inherit; font-style: inherit; color: #1946ba;" href="mailto:******@niu.ifmo.ru">******@niu.ifmo.ru </a></p>
        <p>&nbsp;</p>
      </div><!-- .entry-content -->

    </article><!-- #post-## -->



    <article id="post-1695" class="post-1695 post type-post status-publish format-standard hentry category--">
      <h1>О дальнейших мероприятиях по обеспечению закрытия долга!</h1>
      <div class="entry-content">
        <p><span style="color: #1c1c1c;"> Не разочаровывайтесь сразу, возможно стоит дать второй шанс</span></p>
        <p>&nbsp;</p>

      </div><!-- .entry-content -->

    </article><!-- #post-## -->



    <article id="post-1686" class="post-1686 post type-post status-publish format-standard hentry category--">

      <div class="entry-content">
        <p><span style="font-weight: 800; color: #58595b;">Мир изменился. Я чувствую это, в воде, чувствую в земле, ощущаю в воздухе. Многое из того, что было – ушло, и не осталось тех, кто помнит об этом.
Всё началось с отливки великих колец. Три были переданы – эльфам. Самым мудрым и справедливым из всех живущих. Семь – были отданы повелителям гномов. Мастеровым горных пещер. А девять? Девять колец были переданы человеческому роду, который превыше всего, жаждал власти.
В этих кольцах была заключена сила власти над каждым из народов. Но все они оказались обмануты. Потому что было сделано ещё одно кольцо. Тёмный властелин Саурон, тайно создал единое кольцо, подчинявшее себе все другие. И в это кольцо он вложил, всю жестокость, всю злобу и всю жажду власти над всем живущим. Одно кольцо – способное править всеми! Одна за другой – свободные земли средиземья, пали под властью кольца…»
«… И многое было забыто, чего забывать, не следовало. История стала легендой, легенда превратилась в миф…»</span></p>
      </div><!-- .entry-content -->

    </article><!-- #post-## -->



    <article id="post-1684" class="post-1684 post type-post status-publish format-standard hentry category--">
      <div class="entry-content">
        <p><a href="http://localhost:4200/main"><strong> Перейти нахрен отсюда!!!! </strong><strong> Аааааааа!</strong></a></p>
      </div><!-- .entry-content -->

    </article><!-- #post-## -->


    <!--<div class="navigation">-->
    <!--<div class="nav-previous"><a href="Ссылка на нашу страницу с новостями, а как ее блин добавить?" ><span class="meta-nav">&larr;</span> Older posts</a></div>-->
    <!--<div class="nav-next"></div>-->
    <!--</div>&lt;!&ndash; #nav-below &ndash;&gt;-->

  </section>


</article>

