<header>

  <div class="container">

    <!-- logo -->
    <a href="http://yandex.ru" class="logo inline">
      <img src='http://mr.ifmo.ru/images/logo/itmo_horiz_white_rus.png' alt='Где, блин, картинка?'/>
      <h1 class='top'>
        <span>Курсовая работа по программированию интернет-приложений</span>
      </h1>
    </a>


    <!-- date -->

    <div class="date inline">
      19 Февраля 2019 идет <span>третья</span> неделя долга			</div>

  </div>

  <nav>
    <div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%81%D1%81%D1%82%D1%80%D0%BE%D0%B9%D1%81%D1%82%D0%B2%D0%BE_%D0%B8%D0%BD%D1%82%D0%B5%D0%BB%D0%BB%D0%B5%D0%BA%D1%82%D0%B0">О нас</a></li>
      <li id="menu-item-160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160"><a href="http://vk.com">Контакты</a></li>
      <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://yandex.ru/news">Новости</a></li>
    </ul></div>		</nav>

</header>
<!-- main area -->

<main class='container clearfix'>
  <article class='main-page to-left'>



    <!-- news -->
    <section class='news'>
      <h1>Главные новости</h1>

      <article id="post-1698" class="post-1698 post type-post status-publish format-standard hentry category--">
        <h1>Вчера на Ломоносова упала крыша и чуть не задавила 21 китайца!</h1>
          <div class="entry-content">
            <p><span style="font-weight: 600; color: #1c1c1c;">16 февраля 2019 года </span><span style="color: #1c1c1c;">в ходе ремонта произошло частичное обрушение крыши, фото и видео
              <a style="font-weight: inherit; font-style: inherit; color: #1946ba;" href="https://www.fontanka.ru/2019/02/17/021/?utm_source=yxnews&utm_medium=desktop" target="_blank">предоставлено Фонтанкой</a></span>
              <span style="font-weight: 600; color: #1c1c1c;"> А впрочем, какая разница?</span></p>
            <p style="color: #1c1c1c;">Напоминаем, что мы находимся на связи и  продолжаем оказывать информационную, консультационную и иную поддержку:</p>
            <p style="color: #1c1c1c;">_____________________</p>
            <p style="color: #1c1c1c;"><span style="font-weight: 600; font-style: inherit;">Департамент по управлениями департаментами</span></p>
            <p style="color: #1c1c1c;">11111111</p>
            <p style="color: #1c1c1c;">vasazopkin1@gmail.com</p>
            <p style="color: #1c1c1c;">_____________________</p>
            <p style="color: #1c1c1c;"><span style="font-weight: 600; font-style: inherit;">Юридическое управление</span></p>
            <p style="color: #1c1c1c;">+7 (921) 428-34-33</p>
            <p style="color: #1c1c1c;"><a style="font-weight: inherit; font-style: inherit; color: #1946ba;" href="mailto:209617@niu.ifmo.ru">209617@niu.ifmo.ru </a></p>
            <p>&nbsp;</p>
          </div><!-- .entry-content -->

      </article><!-- #post-## -->



      <article id="post-1695" class="post-1695 post type-post status-publish format-standard hentry category--">
        <h1>О дальнейших мероприятиях по обеспечению закрытия долга!</h1>
          <div class="entry-content">
            <p><span style="color: #1c1c1c;"> Работайте, братья!</span></p>
            <p>&nbsp;</p>
            <p style="color: #1c1c1c;">Вот тут тоже что-то насрано, но это же не беда, да?</p>

          </div><!-- .entry-content -->

      </article><!-- #post-## -->



      <article id="post-1686" class="post-1686 post type-post status-publish format-standard hentry category--">

          <div class="entry-content">
            <p><span style="font-weight: 800; color: #58595b;">18 февраля в 18(?) часов по адресу: Санкт-Петербург, Кронверкский пр., д.49, 371 состоится первый доп!</span></p>
          </div><!-- .entry-content -->

      </article><!-- #post-## -->



      <article id="post-1684" class="post-1684 post type-post status-publish format-standard hentry category--">
          <div class="entry-content">
            <p><a href="http://partyhardcore.com"><strong> Перейти нахрен отсюда!!!! </strong><strong> Аааааааа!</strong></a></p>
          </div><!-- .entry-content -->

      </article><!-- #post-## -->


      <div class="navigation">
        <div class="nav-previous"><a href="Ссылка на нашу страницу с новостями, а как ее блин добавить?" ><span class="meta-nav">&larr;</span> Older posts</a></div>
        <div class="nav-next"></div>
      </div><!-- #nav-below -->

    </section>



  </article>



  <!-- sidebar -->
  <aside class='to-right'>

    <article class='inbox promo-fast'>

      <!-- promo -->
      <div class="promo clearfix">
        <div class="text inbox">
          <p class="inline date">18</p>
          <p class="inline over"> День допа<br/> по ПИПу!<br/><span>февраля</span></p>
        </div>
      </div>

      <div class="services">
        <a href="http://localhost:4200/login" class="inline" target='_blank'><i> </i>Регистрация и вход в систему</a>
        <a href="https://vk.com/doc-31201840_457957351" class="inline" target='_blank'><i></i>Написать ПСЖ</a>
          <a href="http://www.ifmo.ru/" class="inline" target='_blank'><i></i>Портал университета</a>
        <a href="http://isu.ifmo.ru/" class="inline" target='_blank'><i></i>ИСУ НИУ ИТМО</a>
      </div>

    </article>


    <section class='widget inbox map'>

      <h1>Наши контакты</h1>

      <!-- map -->
      <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJp2aTEEExlkYRbrG4sOfCSX0&key=..." width="100%" height="225" frameborder="0" style="border:0"></iframe>

      <!-- contacts -->
      <div class="services">
        <a href="#" class="inline"><i></i>С-Пб., Кронверкский пр., д. 49</a>
        <a href="#" class="inline"><i></i>vasazopkin1@gmail.com</a>
        <a href="#" class="inline"><i></i>8 (921) 428-34-33</a>
      </div>

    </section>

  </aside>	</main><!-- main -->


