<header>

  <div class="container">

    <!-- logo -->
    <a href="http://localhost:4200/" class="logo inline">
      <img src='http://mr.ifmo.ru/images/logo/itmo_horiz_white_rus.png' alt='Где, блин, картинка?'/>
      <h1 class='top'>
        <span>Курсовая работа по программированию интернет-приложений</span>
      </h1>
    </a>

    <!-- date -->

    <!--p id="dateFolder" onload="f_date()"></p-->
    <div class="date inline" >{{thdate}}</div>

  </div>

  <nav>
    <div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu">
      <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="http://localhost:4200/game">А вот тут полочку прихреначим</a></li>
      <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="http://localhost:4200/">Главная</a></li>
      <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="http://localhost:4200/about">О нас</a></li>
      <li id="menu-item-160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160"><a href="http://localhost:4200/contacts">Контакты</a></li>
      <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://localhost:4200/news">Новости</a></li>
    </ul></div>		</nav>

</header>
<!-- main area -->

<main class='container clearfix'>

  <!--<app-contabus></app-contabus>-->
<!--<app-contmain></app-contmain>-->
  <router-outlet></router-outlet>
  <!--</article>-->



  <!-- sidebar -->
  <aside class='to-right'>

    <article class='inbox promo-fast'>

      <!-- promo -->
      <div class="promo clearfix">
        <div class="text inbox">
          <p class="inline date">{{ddate}}</p>
          <p class="inline over"> День допа<br/> по ПИПу!<br/><span>марта</span></p>
        </div>
      </div>

      <div class="services">
        <a href="http://localhost:4200/login" class="inline" target='_blank'><i> </i>Регистрация и вход в систему</a>
        <a href="https://vk.com/doc-31201840_457957351" class="inline" target='_blank'><i></i>Написать ПСЖ</a>
          <a href="http://www.ifmo.ru/" class="inline" target='_blank'><i></i>Портал университета</a>
        <a href="http://isu.ifmo.ru/" class="inline" target='_blank'><i></i>ИСУ НИУ ИТМО</a>
      </div>

    </article>


    <section class='widget inbox map'>

      <h1>Наши контакты</h1>

      <!-- map -->
      <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJp2aTEEExlkYRbrG4sOfCSX0&key=..." width="100%" height="225" frameborder="0" style="border:0"></iframe>

      <!-- contacts -->
      <div class="services">
        <a href="#" class="inline"><i></i>С-Пб., Кронверкский пр., д. 49</a>
        <a href="#" class="inline"><i></i>vasazopkin1@gmail.com</a>
        <a href="#" class="inline"><i></i>8 (921) 428-34-33</a>
      </div>

    </section>

  </aside>	</main><!-- main -->


