<article class="main-page to-left">
  <p>Вам следует войти в систему, чтобы видеть новости!</p>
  <p>Авторизируйтесь и повторите попытку!</p>
  <p>


  <button (click)="reload()" class="login100-form-btn">
    Обновить новостную ленту!
  </button>

</p>

<ul>
  <li *ngFor="let receivedNew of receivedNews">
    <p>New's title: {{receivedNew?.name}}</p>
    <p>New's text: {{receivedNew?.text}}</p>
    <!--todo here doesn't work input class!!!-->
    <p>Cam's ID: {{receivedNew?.videosbyVideo?.id}}</p>
  </li>
</ul>
<div>

  <!--<p>{{receivedNews[0].name}}   {{receivedNews[0].text}}    {{receivedNews[0].video}}</p>-->
</div>
</article>
