<div  class="div_abs">
  <textarea *ngFor="let receivedFaction of receivedFactions" cols="50" class="input_abs">
    Faction's name: {{receivedFaction?.name}}
    Factions's rating: {{receivedFaction?.rating}}</textarea>
</div>
<article class="main-page to-left">

  <p>
    <button (click)="bu1()" class="login100-form-btn">
      Получить список фракций
    </button>
    <button (click)="bu2()" class="login100-form-btn">
      Отсортировать по рейтингу
    </button>
    <button (click)="bu3()" class="login100-form-btn">
      Еще какое-нибудь гавно
    </button>
    <button (click)="bu4()" class="login100-form-btn">
      Посмотреть членов фракции
    </button>
    <button (click)="bu5()" class="login100-form-btn">
      TEST
    </button>
  </p>



</article>
