<div  class="div_abs">
  <textarea cols="50" class="input_abs" disabled>{{this.text}}
  </textarea>

</div>
<article class="main-page to-left">

  <p>
    <button (click)="bu1()" class="login100-form-btn">
      Получить список фракций
    </button>
  </p>
  <p>
    <button (click)="bu2()" class="login100-form-btn">
      Отсортировать по рейтингу
    </button>
  </p>
  <p>
    <button (click)="bu3()" class="login100-form-btn">
      Найти фракцию:
    </button>
    <input class="input100" type="text" name="frname" placeholder="Название" [(ngModel)]="fraction.name"  >
  </p>
  <p>
    <button (click)="bu4()" class="login100-form-btn" disabled>
      Здесть могла бы быть ваша реклама!
    </button>
  </p>




</article>
